# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI= mongodb+srv://ludoadmin:<eOmq18TIKC54l4vv>@cluster0.kvqh9ci.mongodb.net/?appName=Cluster0

# MQTT Broker Configuration expected for HiveMQ Cloud
# Backend user must not be shared with ESP32 devices
MQTT_HOST=dd2850a79b434dd99693c51b23d03f8d.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=backend_user_01
MQTT_PASSWORD=Piyush@123

# JWT Configuration
JWT_SECRET=super_secret_key_change_me_in_production
